[submodule "libraries/ErriezCRC32"]
	path = libraries/ErriezCRC32
	url = https://github.com/Erriez/ErriezCRC32.git
[submodule "libraries/ESP32Ping"]
	path = libraries/ESP32Ping
	url = https://github.com/marian-craciunescu/ESP32Ping.git
